# Custom user defined
.pytest_cache/
.mypy_cache/
data/
htmlcov/
notebooks/

.coverage
notes.md
skpm-venv/
poetry.lock

# Byte-compiled / optimized / DLL files
__pycache__/
dist/

# Sphinx documentation
docs/_build/
docs/auto_examples/
docs/gen_modules/
docs/sg_execution_times.rst

# Jupyter Notebook
.ipynb_checkpoints
__pypackages__/

# VsCode
.vscode/

# files
*.log
*.csv
*.parquet